body {
    font-family: "Sansita", sans-serif;
}

nav {
    background-color: #36454f;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav li {
    flex: 1 1 auto;

}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.item1 {
    min-height: 100px;
}

.item2 {
    min-height: 150px;
}

.item3 {
    min-height: 200px;
}