/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Page Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
    color: #333;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

/* Navigation */
nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

/* Heading */
h1 {
    color: steelblue;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

/* Main */
main {
    max-width: 840px;
    padding-top: 1rem;
}

/* ONLY the first profile image floats right */
img.profile {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

/* Paragraph */
main p {
    margin-bottom: 1rem;
    line-height: 1.4;
}

/* Class Selectors */
.box {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    background-color: #ddd;
    color: #000;
}

/* Temple List */
ul.box {
    padding-left: 2rem;
}

ul.box li {
    margin-bottom: 0.4rem;
}

/* Aside */
aside.box {
    position: relative;
    width: 20rem;
    padding-top: 3.5rem;
    text-align: center;
}

aside.box img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 1rem auto;
    border: 1px solid #999;
    background-color: white;
}

aside.box h2 {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255 255 255 / 0.7);
    padding: 5px;
    color: black;
}

aside.box p {
    margin-top: 0.5rem;
    text-align: center;
}

/* Footer */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding: 1rem 0;
}