* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

header {
    padding: 0 1rem;
}

h1 {
    color: #5f82b1;
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem 0;
    border-bottom: 1px solid #d3ccbc;
    margin-bottom: 1rem;
}

nav {
    background-color: #5d8fbe;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
    nav a display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;

}

.grid {

    display: grid;
    grid-template-columns: 20rem 1fr;
    gap: 1rem;

}

aside {
    background-color: #efe7e7;
    border: 1px solid #ede3e3;
    padding: 1rem;
    min-height: 650px;
}

aside img {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

aside p {
    font-size: 1rem;
    line-height: 1.5;
}

main {
    border: 1px dashed #caa;
    padding: 1rem;
    background-color: #efe7e7;
    padding: 1rem 1.5rem;

}

main h2 {
    color: #5f82b1;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #d3c1bc;
}

main p {
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 1rem;
}

main img {
    float: right;
    width: 140px;
    margin: 0 0 1rem 1rem;
    padding: 0.25rem;
    background-color: #fff;
}

main ul {
    background-color: #e4dbd7;
    padding: 1rem 1.5rem;
    margin-top: 2rem;
    display: inline-block;

}

main li {
    margin-bottom: 0.5rem;
}

main a {
    color: #4b43c6;
}

footer {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem 0;
    border-top: 1px solid #a4b5c8;
    font-size: 1rem;
}